<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">About</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <div class="row">
            <div class="col-xs-6 col-lg-4">
                <h2>pildorasinformaticas</h2>
                <p>Este canal pretende compartir conocimientos informáticos entre todos los integrantes de la comunidad Internet. Se tratarán diversas materias, desde ofimática básica y avanzada hasta programación, pasando por diseño gráfico y web.</p>
                <p><a class="btn btn-default" target="_blank" href="https://www.youtube.com/user/pildorasinformaticas/about" role="button">View details »</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
                <h2>Mkyong</h2>
                <p>Mkyong.com is for Java and J2EE developers, all examples are simple and easy to understand, and well tested in my development environment. Mkyong.com is created, written by, and maintained by Yong Mook Kim, aka Mkyong. It is built on WordPress, hosted by Liquid Web, and the caches are served by CloudFlare CDN.</p>
                <p><a class="btn btn-default" target="_blank" href="http://www.mkyong.com" role="button">View details »</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
                <h2>Bit of techonology</h2>
                <p>My name is Taiseer Joudeh and this is my professional blog. I consider myself a passionate software engineer who is always willing to learn and explore new technologies, then apply it in real world scenarios and share this knowledge with the community.</p>
                <p><a class="btn btn-default" target="_blank" href="http://bitoftech.net/" role="button">View details »</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
                <h2>codigofacilito</h2>
                <p>Visita CódigoFacilito.com para aprender desarrollo web frontend, backend, desarrollo móvil para Android y iOS y mucho más. ¡Más de 40 cursos online en tu idioma!</p>
                <p><a class="btn btn-default" target="_blank" href="https://www.youtube.com/user/codigofacilito/about" role="button">View details »</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
                <h2>Jason Watmore's Blog</h2>
                <p>I'm a web developer in Sydney Australia and the technical lead at Point Blank Development, I've been building websites and web applications in Sydney since 1998.</p>
                <p><a class="btn btn-default" target="_blank" href="http://jasonwatmore.com/" role="button">View details »</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
                <h2>Jesús Conde</h2>
                <p>Canal en YouTube de Videotutoriales.com</p>
                <p><a class="btn btn-default" target="_blank" href="https://www.youtube.com/user/0utKast/about" role="button">View details »</a></p>
            </div>
        </div>
    </div>
</div>